@inject POS_CapstoneProject_.Data.POS_CapstoneProject_Context data
@using Newtonsoft.Json;
@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    .link-stockmovement, .inventoryMenu {
        background-color: #747474 !important;
    }
</style>
<div class="loader-wrapper">
    <div class="loader"></div>
</div>

<!--Transaction Type Filter-->
<div class="stock-movement-filter-wrapper">
    <form asp-action="DisplayStockMovement" method="post" id="stockMovementForm">
        <div class="stock-movement-type-wrapper">
            <label>Type</label>
            <select class="selectTransactionType" name="transactionType">
                <option selected disabled>Select a type</option>
                <option value="All">All</option>
                <option value="Stock In">Stock In</option>
                <option value="Stock Out">Stock Out</option>
            </select>
        </div>

        <div class="stock-movement-fromdate-wrapper">
            <label>From</label>
            <input type="date" class="fromDateStockMove" name="fromDate" />
        </div>
        <div class="stock-movement-todate-wrapper">
            <label>To</label>
            <input type="date" class="toDateStockMove" name="toDate" />
        </div>

        <div class="stock-movement-button-wrapper">
            <button type="button" class="generateRecordBtn">View</button>
        </div>      
    </form>
</div>

<!--Stock Movement Table-->
<div class="stock-movement-wrapper">
    <table class="stock-movement-table general-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Request ID</th>
                <th>User</th>
                <th>Type</th>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody id="stock-movement-body">
          
            @if (TempData["inventoryAll"] != null)
            {
                var inventoryAllList = TempData["inventoryAll"] as string;
                var inventoryAll = JsonConvert.DeserializeObject<List<InventoryTransactionDetail>>(inventoryAllList);
         
                if(inventoryAll != null)
                {
                    @foreach (var item in inventoryAll)
                    {
                        var checkUser = data.UserDetail.Where(s => s.UserId == item.InventoryTransaction.UserId).FirstOrDefault();

                        <tr>
                            <td data-label="ID">@item.InventoryTransactId</td>
                            <td data-label="Request Id">@(item.InventoryTransaction.RequestId != null ? item.InventoryTransaction.RequestId : "N/A")</td>
                            <td data-label="User">@checkUser?.Firstname @checkUser?.Lastname</td>
                            <td data-label="Type">@item.InventoryTransaction?.TransactionType</td>
                            <td data-label="Ingredient">@item.Ingredient?.Name</td>
                            <td data-label="Quantity">@item.Quantity</td>
                            <td data-label="Date">@item.InventoryTransaction?.TransactionDate.ToString("yyyy-MM-dd")</td>
                            <td data-label="Remarks">@item.Remarks</td>
                        </tr>
                    }
                }
                else
                {
                   
                }           
            }

            @if (TempData["inventoryStockIn"] != null)
            {
                var inventoryStockInList = TempData["inventoryStockIn"] as string;
                var inventoryStockIn = JsonConvert.DeserializeObject<List<InventoryTransactionDetail>>(inventoryStockInList);
             

                if (inventoryStockIn != null)
                {
                    @foreach (var item in inventoryStockIn.Where(s => s.InventoryTransaction.TransactionType == "Stock In"))
                    {
                        var checkUser = data.UserDetail.Where(s => s.UserId == item.InventoryTransaction.UserId).FirstOrDefault();

                        <tr>
                            <td data-label="ID">@item.InventoryTransactId</td>
                            <td data-label="Request Id">@(item.InventoryTransaction.RequestId != null ? item.InventoryTransaction.RequestId : "N/A")</td>
                            <td data-label="User">@checkUser?.Firstname @checkUser?.Lastname</td>
                            <td data-label="Type">@item.InventoryTransaction?.TransactionType</td>
                            <td data-label="Ingredient">@item.Ingredient?.Name</td>
                            <td data-label="Quantity">@item.Quantity</td>
                            <td data-label="Date">@item.InventoryTransaction?.TransactionDate.ToString("yyyy-MM-dd")</td>
                            <td data-label="Remarks">@item.Remarks</td>
                        </tr>
                    }
                }
                else
                {
                   
                }
               
            }

            @if (TempData["inventoryStockOut"] != null)
            {
                var inventoryAllList = TempData["inventoryStockOut"] as string;
                var inventoryStockOut = JsonConvert.DeserializeObject<List<InventoryTransactionDetail>>(inventoryAllList);
               

                if (inventoryStockOut != null)
                {
                    @foreach (var item in inventoryStockOut.Where(s => s.InventoryTransaction.TransactionType == "Stock Out"))
                    {
                        var checkUser = data.UserDetail.Where(s => s.UserId == item.InventoryTransaction.UserId).FirstOrDefault();
                        
                        <tr>
                            <td data-label="ID">@item.InventoryTransactId</td>
                            <td data-label="Request Id">@(item.InventoryTransaction.RequestId != null ? item.InventoryTransaction.RequestId : "N/A")</td>
                            <td data-label="User">@checkUser?.Firstname @checkUser?.Lastname</td>
                            <td data-label="Type">@item.InventoryTransaction?.TransactionType</td>
                            <td data-label="Ingredient">@item.Ingredient?.Name</td>
                            <td data-label="Quantity">@item.Quantity</td>
                            <td data-label="Date">@item.InventoryTransaction?.TransactionDate.ToString("yyyy-MM-dd")</td>
                            <td data-label="Remarks">@item.Remarks</td>
                        </tr>
                    }
                }
                else
                {
                  
                }
                
            }

        </tbody>
    </table>
</div>

@if (TempData["inventoryAll"] != null)
{
    <script>

        window.addEventListener('load', function () {
            document.querySelector('.fromDateStockMove').value = localStorage.getItem('fromDateStockMove');
            document.querySelector('.toDateStockMove').value = localStorage.getItem('toDateStockMove');
            document.querySelector('.stock-movement-wrapper').style.visibility = "visible";
            document.querySelector('.selectTransactionType').value = "All"
        });
      
    </script>
}
@if (TempData["inventoryStockOut"] != null)
{
    <script>
        window.addEventListener('load', function () {
            document.querySelector('.fromDateStockMove').value = localStorage.getItem('fromDateStockMove');
            document.querySelector('.toDateStockMove').value = localStorage.getItem('toDateStockMove');
            document.querySelector('.stock-movement-wrapper').style.visibility = "visible";
            document.querySelector('.selectTransactionType').value = "Stock Out"
        });
      
    </script>
}
@if (TempData["inventoryStockIn"] != null)
{
     <script>
        window.addEventListener('load', function () {
            document.querySelector('.fromDateStockMove').value = localStorage.getItem('fromDateStockMove');
            document.querySelector('.toDateStockMove').value = localStorage.getItem('toDateStockMove');
            document.querySelector('.stock-movement-wrapper').style.visibility = "visible";
            document.querySelector('.selectTransactionType').value = "Stock In"
        });
      
    </script>
}
