
@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
    var userList = ViewData["UserList"] as List<UserDetail>;
}
<style>
    .link-usermanagement {
        background-color: #747474 !important;
    }
</style>

<div class="loader-wrapper">
    <div class="loader"></div>
</div>

<div class="user-wrapper">
    <button type="button" class="addUserBtn" data-toggle="modal" data-target="#addUserModal">
        <img src="~/images/add.png" />
        <span>Add User</span>
    </button>

    <table class="user-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Role</th>
                <th>First Name</th>
                <th>Last Name</th>              
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (userList == null)
            {
               <p>No Result</p>
            }
            else
            {
                @foreach (var item in userList)
                {
                    @if ((item.User?.Role?.RoleName != "Manager"))
                    {
                        <tr>
                            <td data-label="ID">@item.UserId</td>
                            <td data-label="Role">@item.User?.Role?.RoleName</td>
                            <td data-label="First Name">@item.Firstname</td>
                            <td data-label="Last Name">@item.Lastname</td>
                            @if (@item.User?.isActive  == true)
                            {
                                <td data-label="Actions">
                                    <div class="action-wrapper">
                                        <form asp-action="ArchiveUser" class="archiveUserForm">
                                            <input name="userid" class="inputArchiveUserId" hidden />
                                        </form>
                                        <button class="btn detailsUserBtn"  data-placement="bottom" title="Details" onclick="ViewDetails('@item.EmailAddress', '@item.ContactNumber','@item.User.Username','@item.User.Password')" data-toggle="modal" data-target="#detailsUserModal">
                                            <img src="~/images/details.png" />
                                        </button>
                                        <button class="btn archiveUserBtn" data-toggle="tooltip" data-placement="bottom" title="Archive" onclick="ArchiveUser(@item.UserId)">
                                            <img src="~/images/inbox.png" />
                                        </button>
                                        <button class="btn updateUserBtn" data-placement="bottom" title="Update" data-toggle="modal" data-target="#updateUserModal" onclick="updateUser(@item.UserId,'@item.Firstname','@item.Lastname','@item.EmailAddress','@item.ContactNumber', '@item.User.Username', '@item.User.Password')">
                                            <img src="~/images/edit.png" />
                                        </button>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td data-label="Actions">
                                    <div class="action-wrapper">
                                        <form asp-action="UnarchiveUser" class="unarchiveUserForm">
                                            <input name="userid" class="inputUnrchiveUserId" hidden />
                                        </form>

                                        <button class="btn detailsUserBtn" data-placement="bottom" title="Details" onclick="ViewDetails('@item.EmailAddress', '@item.ContactNumber','@item.User?.Username','@item.User?.Password')" data-toggle="modal" data-target="#detailsUserModal">
                                            <img src="~/images/details.png" />
                                        </button>
                                        <button class="btn unarchiveUserBtn" data-toggle="tooltip" data-placement="bottom" title="Unarchive" onclick="UnarchiveUser(@item.UserId)">
                                            <img src="~/images/outbox.png" />
                                        </button>
                                        <button class="btn updateUserBtn" data-placement="bottom" title="Update" data-toggle="modal" data-target="#updateUserModal" onclick="updateUser(@item.UserId,'@item.Firstname','@item.Lastname','@item.EmailAddress','@item.ContactNumber', '@item.User?.Username', '@item.User?.Password')">
                                            <img src="~/images/edit.png" />
                                        </button>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                }
            }
           
        </tbody>
    </table>
</div>


<!--Add New User-->

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADD USER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddUser" id="addUserForm" method="post">
                    <div class="row">
                        <div class="col-md-6">                        
                            <label class="control-label">First Name</label>
                            <input class="form-control inputFirstName" name="firstname" placeholder="Enter First Name" type="text" required />
                        </div>

                        <div class="col-md-6">
                            <label class="control-label">Last Name</label>
                            <input class="form-control inputLastName" name="lastname" placeholder="Enter Last Name" type="text" required />
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Email</label>
                            <input class="form-control inputEmail" name="email" placeholder="Enter Email Address" type="email" required />
                        </div>

                        <div class="col-md-6">
                            <label class="control-label">Cellphone No.</label>
                            <input class="form-control inputCellphone" name="cellnumber" placeholder="Enter Cellphone Number" type="text" required />
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Username</label>
                            <input class="form-control inputUsername" name="username" placeholder="Enter Username" type="text" required />
                        </div>

                        <div class="col-md-6">
                            <label class="control-label">Password</label>
                            <input class="form-control inputPassword" name="password"  placeholder="Enter Password" type="password" required />
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Role</label><br />
                            <input class="form-control" value="Cashier" readonly/>                           
                            
                        </div>
                    </div>
                                     
                    <br />
                    <div class="form-group">
                        <button type="button" class="d-block mx-auto addUserSubmit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Update New User-->

<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">UPDATE USER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UpdateUser" id="updateUserForm" method="post">

                    <input class="inputUserId" name="userid" hidden />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">First Name</label>
                            <input class="form-control inputFirstName" name="firstname" placeholder="Enter First Name" type="text" required />
                        </div>

                        <div class="col-md-6">
                            <label class="control-label">Last Name</label>
                            <input class="form-control inputLastName" name="lastname" placeholder="Enter Last Name" type="text" required />
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Email</label>
                            <input class="form-control inputEmail" name="email" placeholder="Enter Email Address" type="email" required />
                        </div>

                        <div class="col-md-6">
                            <label class="control-label">Cellphone No.</label>
                            <input class="form-control inputCellphone" name="cellnumber" placeholder="Enter Cellphone Number" type="text" required />
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Username</label>
                            <input class="form-control inputUsername" name="username" placeholder="Enter Username" type="text" required />
                        </div>

                        <div class="col-md-6">
                            <label class="control-label">Password</label>
                            <input class="form-control inputPassword" name="password" placeholder="Enter Password" type="password" required />
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Role</label><br />
                            <input class="form-control" value="Cashier" readonly/>
                        </div>
                    </div>

                    <br />
                    <div class="form-group">
                        <button type="button" class="d-block mx-auto updateUserSubmit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">USER DETAILS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">              
                     <div class="details-wrapper">

                         <table class="details-table">
                                 <tr>
                                     <th>Email</th>
                                     <td class="email"></td>
                                 </tr>

                                <tr>
                                    <th>Cellphone Number</th>
                                    <td class="cellphone"></td>
                                </tr>

                                <tr>
                                    <th>Username</th>
                                    <td class="username"></td>
                                </tr>

                                <tr>
                                    <th>Password</th>
                                    <td class="password"></td>
                                </tr>
                         </table>
                           
                     </div>                                             
                <br />
                <br />
                <div class="form-group">
                    <button type="button" data-dismiss="modal" class="d-block mx-auto detailUserBack">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>


@if (TempData["SuccessArchived"] != null)
{
    <script>
        Swal.fire({
            text: "User Deactivated",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });


    </script>

}
@if (TempData["NoChanges"] != null)
{
    <script>
        Swal.fire({
            text: "No changes have been made",
            icon: "info",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
@if (TempData["SuccessUnarchived"] != null)
{
    <script>
        Swal.fire({
            text: "User Activated",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });


    </script>

}

@if (TempData["AddUser"] != null)
{
    <script>
        Swal.fire({
            text: "New User Added",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });


    </script>

}
@if (TempData["UpdateUser"] != null)
{
    <script>
        Swal.fire({
            text: "User Updated",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>

}
@if (TempData["Exist"] != null)
{
    <script>
        Swal.fire({
            text: "Username already exist",
            icon: "error",
            showConfirmButton: false,
            timer: 2000
        });
    </script>

}