@using Newtonsoft.Json;
@using POS_CapstoneProject_.DTO;

@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";

    var salesReportJson = ViewData["SalesReport"] as string;
    var salesReport = string.IsNullOrEmpty(salesReportJson) ? null : JsonConvert.DeserializeObject<List<SalesReport>>(salesReportJson);

    var inventoryReportJson = ViewData["InventoryReport"] as string;
    var inventoryReport = string.IsNullOrEmpty(inventoryReportJson) ? null : JsonConvert.DeserializeObject<List<InventoryReport>>(inventoryReportJson);    
}
<style>
    .link-salesreport {
        background-color: #747474 !important;
    }
</style>

<!--Loader-->
<div class="loader-wrapper">
    <div class="loader"></div>
</div>
<!--Report Filter Wrapper-->
<div class="report-filter-wrapper">
    <form asp-action="Index" method="post" id="salesReportForm">
        <div class="report-type-wrapper">
            <label>Report Type</label>

            <select class="selectReportType" name="reportType">
                <option selected disabled hidden>Select a type</option>
                <option value="Sales Report">Sales Report</option>
                <option value="Inventory Report">Inventory Report</option>
            </select>
        </div>

        <div class="report-fromdate-wrapper">
            <label>From</label>
            <input type="date" class="fromDateReport" name="fromDate" />
        </div>

        <div class="report-todate-wrapper">
            <label>To</label>
            <input type="date" class="toDateReport" name="toDate" />
        </div>

        <div class="report-button-wrapper">
            <button type="button" class="generateReportBtn">GENERATE</button>
        </div>
    </form>
</div>

<br />

<!--Report Wrapper-->
<div class="report-wrapper">
    <!--Report Table Wrapper-->
    <table class="report-table general-table">
        @if (salesReport != null)
        {        
            <thead>
                <tr>
                    <th >Name</th>
                    <th> Date</th>
                    <th >Total Sales</th>
                    <th>Total Sold Product</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in salesReport)
                {
                    <tr>
                        <td data-label="Name">@item.Name</td>
                        <td data-label="Date">@item.OrderDate.ToString("yyyy-MM-dd")</td>
                        <td data-label="Total Sales">₱@Math.Round((item.TotalSales), 2)</td>
                        <td data-label="Total Sold">@item.TotalSold</td>
                    </tr>
                }
            </tbody>
        }

        @if (inventoryReport != null)
        {
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Transaction Date</th>
                    <th>Total Stock In</th>
                    <th>Total Stock Out</th>                   
                </tr>
            </thead>

            <tbody>
                @foreach (var item in inventoryReport)
                {
                    <tr>
                        <td data-label="Name">@item.Name</td>                      
                        <td data-label="Date">@item.TransactionDate.ToString("yyyy-MM-dd")</td>
                        <td data-label="Total Quantity">@item.TotalStockIn</td>
                        <td data-label="Total Quantity">@item.TotalStockOut</td>                    
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

<!--Set Filter-->
@if(salesReport != null)
{
    <script>
        window.addEventListener('load', function () {
            document.querySelector('.report-wrapper').style.visibility = "visible";
            document.querySelector('.fromDateReport').value = localStorage.getItem('fromDateReport');
            document.querySelector('.toDateReport').value = localStorage.getItem('toDateReport');
            document.querySelector('.selectReportType').value = localStorage.getItem('reportType');
        });             
    </script>
}
@if(inventoryReport != null)
{
    <script>
        window.addEventListener('load', function () {
            document.querySelector('.fromDateReport').value = localStorage.getItem('fromDateReport');
            document.querySelector('.toDateReport').value = localStorage.getItem('toDateReport');
            document.querySelector('.selectReportType').value = localStorage.getItem('reportType');
            document.querySelector('.report-wrapper').style.visibility = "visible";
        });      
    </script>
}