@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
}
<div class="checkout-wrapper">
    <h1 class="checkout-title">Check Out</h1>

    <div class="checkout-table-wrapper">
        <table class="checkout-table">
            <thead>
                <tr>
                    <th style="color: transparent">Aaa</th>
                    <th class="table-header-name">Name</th>
                    <th class="table-header-quantity">Qty</th>
                    <th class="table-header-price">Price &nbsp;</th>
                </tr>
            </thead>
            <tbody>
              
               
            </tbody>

        </table>
    </div>
  

    <div class="checkout-footer">
        <button>Cancel</button>
        <button>Buy</button>
    </div>
</div> 

<div class="product-list-wrapper">
       <div class="search-wrapper">
             
            <input type="search" placeholder="Search...">
            <button type="button">
               Search
            </button>
           
        
       </div>



       <div class="category-list-wrapper">
            <button class="category-item active" onclick="FilterProduct('All')">
                All
            </button>

            @foreach (var item in ViewData["CategoryList"] as List<Category>)
            {
                <button class="category-item" onclick="FilterProduct('@item.CategoryName')">
                    @item.CategoryName
                </button>
            }      
       </div>

       <div class="product-catalog">
            @foreach(var prod in ViewData["ProductList"] as List<Product>)
            {
                <div class="product-item" onclick="checkoutProduct(@prod.ProductId, '@prod.Name',1, @prod.Price)" data-category="@prod.Category.CategoryName">
                        <div class="product-item-img">
                            @if(prod.ImageData != null)
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(prod.ImageData)" class="d-block mx-auto" alt="Image" />
                            }
                            else
                            {
                               <span>No Image</span>
                            }

                        </div>

                        <div class="product-item-name" data-toggle="tooltip" data-placement="bottom" title="@prod.Name">
                            <span>@prod.Name</span>
                        </div>
                     

                     @*    <div class="product-item-price">
                            <span>₱@prod.Price</span>
                        </div> *@
                 </div>
            }
        
       </div>

</div>

<br />

