@model POS_CapstoneProject_.Models.Category

@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
    var categoryList = ViewData["CategoryList"] as List<Category>;
}

<style>
    .link-category{
        background-color: #747474 !important;
    }
</style>

<!--Loader-->
<div class="loader-wrapper">
    <div class="loader"></div>
</div>

 <!--Category Wrapper-->
<div class="category-wrapper">
    <button type="button" class="addCategoryBtn general-button" data-toggle="modal" data-target="#addCategoryModal">
        <img src="~/images/add.png" />
        <span>Add Category</span>
    </button>
    <!--Category Table-->
    <table class="category-table general-table">
        <thead>
            <tr>
                <th>ID</th>          
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>           
            @if(categoryList != null){
                @foreach (var item in categoryList)
                {
                    <tr onclick="RowClick('@Url.Action("Index", "SalesMenu")', this,event)" class="@(item.IsArchive == true ? "archived-category" :"")">
                        <td data-label="ID">@item.CategoryId</td>
                        <td data-label="Category">
                            <span class="table-data-category">
                                @item.CategoryName
                            </span>
                        </td>
                                                
                        <td data-label="Actions">
                            <form class="unarchiveCategoryForm" asp-action="UnArchiveCategory">
                                <input asp-for="CategoryId" class="unarchiveInputCategory" hidden />
                            </form>

                            <form class="archiveCategoryForm" asp-action="ArchiveCategory">
                                <input asp-for="CategoryId" class="archiveInputCategory" hidden />
                            </form>

                            <div class="action-wrapper">

                                @if (item.IsArchive)
                                {
                                    <button class="unarchiveCategoryBtn general-unarchive-btn" onclick="unArchiveCategory(@item.CategoryId)" data-toggle="tooltip" data-placement="bottom" title="Unarchive">
                                        <img src="~/images/outbox.png" />
                                    </button>
                                }
                                else
                                {
                                    <button class="archiveCategoryBtn general-archive-btn" onclick="archiveCategory(@item.CategoryId)" data-toggle="tooltip" data-placement="bottom" title="Archive">
                                        <img src="~/images/outbox.png" />
                                    </button>
                                }

                                <button class="btn updateCategoryBtn general-update-btn" data-placement="bottom" title="Update" data-toggle="modal" data-target="#updateCategoryModal" onclick="updateCategory(@item.CategoryId,'@item.CategoryName')" type="button">
                                    <img src="~/images/edit.png" />
                                </button>
                            </div>
                        </td>                      
                    </tr>
                }
            }           
        </tbody>
    </table>
</div>

<!--Add Category Modal-->
<div class="modal fade general-modal" id="addCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img src="~/images/coffe-logo-light.png" class="add-category-modal-img general-coffee-img-bottom" />

            <div class="modal-header">
                <h5 class="modal-title">ADD CATEGORY</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
            <br />

            <div class="modal-body">
                <form asp-action="AddCategory" id="addCategoryForm" asp-controller="CategoryMenu" method="post">
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label general-modal-label">Category Name</label>
                        <input asp-for="CategoryName" maxlength="15" class="form-control addInputName general-modal-input" oninput="validateCategoryName(this)" placeholder="Enter Category Name" required />
                    </div>

                    <br />

                    <div class="form-group">
                        <button type="button" class="d-block mx-auto addSubmitBtn general-modal-button">ADD</button>
                    </div>
                </form>
            </div>         
        </div>
    </div>
</div>

<!--Update Category Modal-->
<div class="modal fade general-modal" id="updateCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img src="~/images/coffe-logo-light.png" class="update-category-modal-img general-coffee-img-top" />

            <div class="modal-header">
                <h5 class="modal-title">UPDATE CATEGORY</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <br />  
            
            <div class="modal-body">
                <form asp-action="UpdateCategory" id="updateCategoryForm" method="post">                 
                    <input asp-for="CategoryId" class="form-control input-id" hidden/>
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label general-modal-label">Category Name</label>
                        <input asp-for="CategoryName" maxlength="15" placeholder="Enter Category Name" class="form-control updateInputName general-modal-input" oninput="validateCategoryName(this)" required />
                    </div>

                    <br />

                    <div class="form-group">
                        <button type="button" class="d-block mx-auto updateSubmitBtn general-modal-button">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 
<!--Pop Up Messages-->

<!--Category already exists-->
@if (TempData["CategoryExist"] != null)
{
    <script>
        Swal.fire({
            text: "Category Already Exists",
            icon: "error",
            showConfirmButton: false,
            timer: 2000
        });      
    </script>
}

<!--Added New Category-->
@if (TempData["AddedCategory"] != null)
{
    <script>
        Swal.fire({
            text: "New Category Added",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
<!--No Changes have been made when updating-->
@if (TempData["NoChanges"] != null)
{
    <script>
        Swal.fire({
            text: "No changes have been made",
            icon: "info",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
<!--Update CAtegory-->
@if (TempData["UpdatedCategory"] != null)
{
    <script>
        Swal.fire({
            text: "Category Updated",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
<!--Archive Category-->
@if (TempData["SuccessArchived"] != null)
{
    <script>
        Swal.fire({
            text: "Category Archived",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
<!--UnArchive Category-->
@if (TempData["SuccessUnarchived"] != null)
{
    <script>
        Swal.fire({
            text: "Category Unarchived",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}                     