@model POS_CapstoneProject_.Models.Category

@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
    var categoryList = ViewData["CategoryList"] as List<Category>;
}
<style>
    .link-category{
        background-color: #747474 !important;
    }
</style>

<div class="loader-wrapper">
    <div class="loader"></div>
</div>

 <!--Wrapper-->
<div class="category-wrapper">
    <button type="button" class="addCategoryBtn" data-toggle="modal" data-target="#addCategoryModal">
        <img src="~/images/add.png" />
        <span>Add Category</span>
        </button>
    <!--Category Table-->
    <table class="category-table">
        <thead>
            <tr>
                <th>ID</th>          
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>           
            @if(categoryList != null){
                @foreach (var item in categoryList)
                {
                    <tr onclick="RowClick('@Url.Action("Index", "SalesMenu")', this)">
                        <td data-label="ID">@item.CategoryId</td>
                        <td data-label="Category">@item.CategoryName</td>
                        <td data-label="Actions">
                            <div class="action-wrapper">
                                <button class="btn updateCategoryBtn" data-placement="bottom" title="Update" data-toggle="modal" data-target="#updateCategoryModal" onclick="updateCategory(@item.CategoryId,'@item.CategoryName')" type="button">
                                    <img src="~/images/edit.png" />
                                </button>
                            </div>

                        </td>
                    </tr>
                }
            }
            else
            {
                
            }
        
        </tbody>
    </table>
</div>


<!--Add New Category-->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img src="~/images/coffe-logo-light.png" class="add-category-modal-img" />
            <div class="modal-header">
                <h5 class="modal-title">ADD CATEGORY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
            <br />
            <div class="modal-body">
                <form asp-action="AddCategory" id="addForm" asp-controller="CategoryMenu" method="post">
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label">Category Name</label>
                        <input asp-for="CategoryName" class="form-control addInputName" placeholder="Enter Category Name" required />
                    </div>               
                    <br />
                    <div class="form-group">
                        <button type="button" class="d-block mx-auto addSubmitBtn" >ADD</button>
                    </div>
                </form>
            </div>
          
        </div>
    </div>
</div>

<!--Update Category-->
 <div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img src="~/images/coffe-logo-light.png" class="update-category-modal-img" />
            <div class="modal-header">
                <h5 class="modal-title">UPDATE CATEGORY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br />           
            <div class="modal-body">
                <form asp-action="UpdateCategory" id="updateForm" method="post">                 
                    <input asp-for="CategoryId" class="form-control input-id" hidden/>
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label">Category Name</label>
                        <input asp-for="CategoryName" placeholder="Enter Category Name" class="form-control updateInputName" required />                       
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="button" class="d-block mx-auto updateSubmitBtn">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 
<!--Pop Up Error Message if Category already exist-->
@if (TempData["CategoryExist"] != null)
{
    <script>
        Swal.fire({
            text: "Category already exists",
            icon: "error",
            showConfirmButton: false,
            timer: 2000
        });      
    </script>
}

<!--Pop up message when new category has been added-->
@if (TempData["AddedCategory"] != null)
{
    <script>
        Swal.fire({
            text: "New category added",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
<!--Pop up message if there's no cahnges-->
@if (TempData["NoChanges"] != null)
{
    <script>
        Swal.fire({
            text: "No changes have been made",
            icon: "info",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
<!--Pop up message when category has been update-->
@if (TempData["UpdatedCategory"] != null)
{
    <script>
        Swal.fire({
            text: "Category updated",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}




 
                     