@model IEnumerable<POS_CapstoneProject_.Models.InventoryTransaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventoryTransactId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventoryTransactId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventoryTransactId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
