@model POS_CapstoneProject_.Models.Product
@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
    var productList = ViewData["productList"] as List<Product>;
}
<style>
    .link-product {
        background-color: #C6976C !important;
    }
</style>
 <div class="product-wrapper">
    <button type="button" class="addProductBtn" data-toggle="modal" data-target="#addProductModal">Add Product</button>
   
    <table class="product-table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>              
                <th>Image</th>
                <th>Actions</th>

            </tr>

           
        </thead>

        <tbody>
                
            @if(productList != null)
            {
                @foreach (var item in productList)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Name</td>
                        <td>@item.Category?.CategoryName</td>
                        <td>₱@item.Price</td>

                        @if (item.ImageData == null)
                        {
                            <td>
                                <div class="text-center">No Image</div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageData)" class="productPhoto d-block mx-auto" alt="Image" />
                            </td>
                        }

                        @if (@item.IsArchive)
                        {
                            <td>
                                <div class="action-wrapper">
                                    <form class="unarchiveForm" asp-action="UnarchiveProduct">
                                        <input asp-for="ProductId" value="@item.ProductId" class="unarchiveInput" hidden />
                                    </form>
                                    <button class="btn unarchiveBtn">Unarchive</button>
                                    <button class="btn updateProductBtn" data-toggle="modal" onclick="updateProduct(@item.ProductId ,'@item.Name' , @item.Price, @item.ProdCategoryId, '@(item.ImageData != null ? Convert.ToBase64String(item.ImageData) : "")')" data-target="#updateProductModal">Update</button>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="action-wrapper">
                                    <form class="archiveForm" asp-action="ArchiveProduct">
                                        <input asp-for="ProductId" value="@item.ProductId" class="archiveInput" hidden />
                                    </form>
                                    <button class="btn archiveBtn">Archive</button>
                                    <button class="btn updateProductBtn" data-toggle="modal" data-target="#updateProductModal" onclick="updateProduct(@item.ProductId ,'@item.Name' , @item.Price, @item.ProdCategoryId,'@(item.ImageData != null ? Convert.ToBase64String(item.ImageData) : "")' )">Update</button>
                                </div>
                            </td>
                        }

                    </tr>
                }
            }
            else
            {
                <div>No Data</div>
            }
          
            
           
        </tbody>
       

    </table>

    
</div>





<!--Update New Product-->
<div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">UPDATE PRODUCT</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 
                <form asp-action="UpdateProduct" id="updateProductForm" method="post" enctype="multipart/form-data">
                   
                    <input asp-for="ProductId" class="productId" hidden />

                    <div class="form-group">
                      
                        <div class="photo-wrapper d-block mx-auto">
                            <img src="~/images/noimage.jpg" />
                        </div>

                        <input asp-for="ImageData" hidden class="inputPhoto form-control" type="file" name="file" accept="image/*" />   <br />                     
                        <button type="button" class="btn uploadPhoto d-block mx-auto">Upload Photo</button>

                    </div>
                   
                    <div class="form-group">
                        <label asp-for="Name"  class="control-label">Product Name</label>
                        <input asp-for="Name" placeholder="Enter Product Name" class="form-control updateProductInputName" required />
                    </div>

                    <div class="form-group">

                        <label asp-for="Price" class="control-label">Price</label>
                        <input asp-for="Price"  maxlength="8" placeholder="Enter Product Price" oninput="validatePrice(this)" class="form-control updateProductInputPrice" required />

                    </div>
 
                    <div class="form-group">
                        <label asp-for="ProdCategoryId" class="control-label">Category Name</label>

                        <select asp-for="ProdCategoryId" class="form-control selectProductCategory">

                            @foreach (var item in ViewData["productCategory"] as List<Category>)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                           
                        </select>

                     </div> 

                    <div class="form-group">

                        <button type="button" class="d-block mx-auto updateProductSubmit">Submit </button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!--Add new Product-->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADD PRODUCT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form asp-action="AddProduct" id="addProductForm" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">

                        <div class="photo-wrapper d-block mx-auto">
                            <img src="~/images/noimage.jpg" />
                        </div>

                        <input hidden class="inputPhoto form-control" type="file" name="file" accept="image/*" />
                        <br />
                        <button type="button" class="btn uploadPhoto d-block mx-auto">Upload Photo</button>
                    </div>
                  
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Product Name</label>
                        <input asp-for="Name" placeholder="Enter Product Name" class="form-control addProductInputName" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Price</label>
                        <input asp-for="Price" maxlength="8" placeholder="Enter Product Price" oninput="validatePrice(this)" class="form-control addProductInputPrice" required />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProdCategoryId" class="control-label">Category Name</label>
                        <select asp-for="ProdCategoryId" class="form-control">

                            @foreach (var item in ViewData["productCategory"] as List<Category>)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }

                        </select>
                    </div>



                    <div class="form-group">
                        <button type="button" class="d-block mx-auto addProductSubmit" />Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


@if (TempData["ProductAdded"] != null)
{
    <script>

        Swal.fire({
            text: "New product added",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
       

    </script>

}

@if (TempData["ProductUpdated"] != null)
{
    <script>
        Swal.fire({
            text: "Product updated",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });


    </script>

}


@if (TempData["SuccessArchived"] != null)
{
    <script>
        Swal.fire({
            text: "Product archived",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });


    </script>

}
@if (TempData["SuccessUnarchived"] != null)
{
    <script>
        Swal.fire({
            text: "Product unarchived",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });


    </script>

}

@if (TempData["ProductExist"] != null)
{
    <script>
        Swal.fire({
            text: "Product already exists",
            icon: "info",
            iconColor: "#3085d6",
            showConfirmButton: false,
            timer: 2000
        });


    </script>

} 