@model POS_CapstoneProject_.Models.Product

@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
    var productList = ViewData["productList"] as List<Product>;
    var productCategory = ViewData["productCategory"] as List<Category>;
    var categoryList = ViewData["CategoryList"] as List<Category>;
}

<style>
    .link-product{
        background-color: #747474 !important;
    }
</style>

<!--Loader-->
<div class="loader-wrapper">
    <div class="loader"></div>
</div>

<!--Product Wrapper-->
 <div class="product-wrapper">
    <button type="button" class="addProductBtn general-button" data-toggle="modal" data-target="#addProductModal">
        <img src="~/images/add.png" />
        <span>Add Product</span>
    </button>
  
    <!--Product Table-->
     <table class="product-table general-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>           
                <th>Image</th> 
                <th>Actions</th>
            </tr>          
        </thead>

        <tbody>          
            @foreach (var item in productList)
            {
                <tr class="@(item.IsArchive == true ? "archived-product" :"")">
                    <td data-label="ID">@item.ProductId</td>
                    <td data-label="Name">@item.Name</td>
                    <td data-label="Category">
                        <span class="table-data-category">
                            @item.Category?.CategoryName
                        </span>
                    </td>
                    <td data-label="Price">₱@item.Price</td> 
                    @if (item.ImageData == null)
                    {
                        <td data-label="Image">
                            <div>No Image</div>
                        </td>
                    }
                    else
                    {
                        <td data-label="Image" class="product-photo-wrapper">
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageData)" class="productPhoto" alt="Image" />
                        </td>
                    } 
                   
                    <td data-label="Actions">
                        <form class="unarchiveForm" asp-action="UnarchiveProduct">
                            <input asp-for="ProductId" class="unArchiveInput" hidden />
                        </form>

                        <form class="archiveForm" asp-action="ArchiveProduct">
                            <input asp-for="ProductId" class="archiveInput" hidden />
                        </form>

                        <div class="action-wrapper">

                            @if (item.IsArchive)
                            {
                                <button class="unarchiveBtn general-unarchive-btn" data-id="@item.ProductId" onclick="unArchiveProduct(this)" data-toggle="tooltip" data-placement="bottom" title="Unarchive">
                                    <img src="~/images/outbox.png" />
                                </button>
                            }
                            else
                            {
                                <button class="archiveBtn general-archive-btn" data-id="@item.ProductId" onclick="archiveProduct(this)" data-toggle="tooltip" data-placement="bottom" title="Archive">
                                    <img src="~/images/inbox.png" />
                                </button>
                            }

                            <button class="updateProductBtn general-update-btn" data-placement="bottom" title="Update" data-toggle="modal" onclick="updateProduct(@item.ProductId ,'@item.Name' , @item.Price, @item.ProdCategoryId, '@(item.ImageData != null ? Convert.ToBase64String(item.ImageData) : "")')" data-target="#updateProductModal">
                                <img src="~/images/edit.png" />
                            </button>
                        </div>
                    </td>                             
                </tr>
            }                        
        </tbody>
    </table>  
</div>

<!--Update Product Modal-->
<div class="modal fade general-modal" id="updateProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img src="~/images/coffe-logo-light.png" class="update-product-modal-img general-coffee-img-bottom" />

            <div class="modal-header">
                <h5 class="modal-title">UPDATE PRODUCT</h5>
               
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">               
                <form asp-action="UpdateProduct" id="updateProductForm" method="post" enctype="multipart/form-data">                 
                    <input asp-for="ProductId" class="productId" hidden />

                    <div class="form-group">                     
                        <div class="photo-wrapper d-block mx-auto">
                            <img src="~/images/noimage.jpg" />
                        </div>

                        <input asp-for="ImageData" hidden class="inputPhoto form-control" type="file" name="file" accept="image/*" />   <br />                     
                        <button type="button" class="btn uploadPhoto d-block mx-auto">Upload Photo</button>
                    </div>      
                    
                    <div class="form-group">
                        <label asp-for="Name" class="control-label general-modal-label">Product Name</label>
                        <input asp-for="Name" maxlength="20" placeholder="Enter Product Name" oninput="validateProductName(this)" class="form-control updateProductInputName general-modal-input" required />
                    </div>

                    <div class="form-group">
                        <label asp-for="Price" class="control-label general-modal-label">Price</label>
                        <input asp-for="Price" maxlength="8" placeholder="Enter Product Price" oninput="validatePrice(this)" class="form-control updateProductInputPrice general-modal-input" required />
                    </div>
 
                    <div class="form-group">
                        <label asp-for="ProdCategoryId" class="control-label general-modal-label">Category</label>

                        <select asp-for="ProdCategoryId" class="form-control selectProductCategory general-modal-input" required>                          
                            @if(productCategory != null)
                            {
                                @foreach (var item in productCategory)
                                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                }
                            }                          
                        </select>
                    </div> 

                    <div class="form-group">
                        <button type="button" class="d-block mx-auto updateProductSubmit general-modal-button">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Add new Product Modal-->
<div class="modal fade general-modal" id="addProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img src="~/images/coffe-logo-light.png" class="add-product-modal-img general-coffee-img-top" />

            <div class="modal-header">
                <h5 class="modal-title">ADD PRODUCT</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-action="AddProduct" id="addProductForm" method="post" enctype="multipart/form-data">
                   
                    <div class="form-group">
                        <div class="photo-wrapper d-block mx-auto">
                            <img src="~/images/noimage.jpg" />
                        </div>

                        <input hidden class="inputPhoto form-control" type="file" name="file" accept="image/*"/><br/>                    
                        <button type="button" class="btn uploadPhoto d-block mx-auto">Upload Photo</button>
                    </div>
                  
                    <div class="form-group">
                        <label asp-for="Name"  class="control-label general-modal-label">Product Name</label>
                        <input asp-for="Name" maxlength="20" placeholder="Enter Product Name" oninput="validateProductName(this)" class="form-control addProductInputName general-modal-input" required />
                    </div>

                    <div class="form-group">
                        <label asp-for="Price" class="control-label general-modal-label">Price</label>
                        <input asp-for="Price" maxlength="8" placeholder="Enter Product Price" oninput="validatePrice(this)" class="form-control addProductInputPrice general-modal-input" required />
                       
                    </div>

                    <div class="form-group">
                        <label asp-for="ProdCategoryId" class="control-label general-modal-label">Category</label>

                        <select asp-for="ProdCategoryId" class="form-control selectCat general-modal-input" required>
                            @if (productCategory != null)
                            {
                                @foreach (var item in productCategory)
                                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                }
                            }                          
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="button" class="d-block mx-auto addProductSubmit general-modal-button">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Pop Up Messages-->

<!--Added Product-->
@if (TempData["ProductAdded"] != null)
{
    <script>
        Swal.fire({
            text: "New Product Added",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
<!--Updated Product-->
@if (TempData["ProductUpdated"] != null)
{
    <script>
        Swal.fire({
            text: "Product Updated",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
<!--Archive Product-->
@if (TempData["SuccessArchived"] != null)
{
    <script>
        Swal.fire({
            text: "Product Archived",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>   
}
<!--UnArchive Product-->
@if (TempData["SuccessUnarchived"] != null)
{
    <script>
        Swal.fire({
            text: "Product Unarchived",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
<!--Product already Exist-->
@if (TempData["ProductExist"] != null)
{
    <script>
        Swal.fire({
            text: "Product Already Exists",
            icon: "error",      
            showConfirmButton: false,
            timer: 2000
        });
    </script>
} 
<!--No Changes Have Been Made When Updating-->
@if (TempData["NoChanges"] != null)
{
    <script>
        Swal.fire({
            text: "No changes have been made",
            icon: "info",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
} 