@model POS_CapstoneProject_.Models.Product
@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
}
<div class="product-wrapper">
    <button type="button" class="addProductBtn" data-toggle="modal" data-target="#addProductModal">Add Product</button>

    <table class="product-table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Status</th>
                <th>Actions</th>

            </tr>

           
        </thead>
        <tbody>
            @foreach (var item in ViewData["productList"] as List<Product>)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Name</td>
                    <td>@item.Category.CategoryName</td>
                    <td>@item.Price</td>

                    @if (@item.IsArchive)
                    {
                        <td>Unavailable</td>
                    }
                    else
                    {
                        <td>Available</td>
                    }

                    @if (@item.IsArchive)
                    {
                        <td>
                            <button class="btn">Unarchive</button>
                            <button class="btn">Update</button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button class="btn">Archive</button>
                            <button class="btn">Update</button>
                        </td>
                    }

                </tr>
            }
        </tbody>
       

    </table>
</div>

<!--Add New Product-->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddProduct" asp-controller="ProductMenu" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Product Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                     <div class="form-group">
                        <label asp-for="Price" class="control-label">Price</label>
                        <input asp-for="Price" type="number" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
 


                 

                   

                      <div class="form-group">
                        <label asp-for="ProdCategoryId" class="control-label">Category Type</label>
                        <select asp-for="ProdCategoryId" class="form-control">

                            @foreach (var item in ViewData["productCategory"] as List<Category>)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                           
                        </select>
                    </div> 


                    <div class="form-group">
                        <button type="submit" class="btn btn-primary d-block mx-auto" />Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>